* {
    background-color: #00000000 !important;

}
/*Nav Bar - Index*/
.navbar-nav {
    font-family: Poiret One !important;
    font-size: 20px !important;
    z-index: 2;
    animation-name: focus-in-contract;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    /* shorthand 
    animation: focus-in-contract 1s ease 0s 1 normal none;
    */ 
  }
  @keyframes focus-in-contract {
    0%{
      letter-spacing: 1em;
      filter: blur(12px);
      opacity: 0;
    }
    100%{
      filter: blur(0);
      opacity: 1;
    }
    
}

.bg-dark {
    --bs-bg-opacity: 0 !important;
}

.container-fluid .navbar-nav .nav-item a {
    margin: 20px;
    color: white;
}


/*Header*/

.header {
    background-color: #ffffff00 !important;
}
.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.logo {
    position: absolute !important;
    z-index: 2 !important;
    color: white;
    font-family: 'Fjalla One', sans-serif !important; 
    text-align: center;
    left: 0 !important;
    right: 0 !important;
    bottom: 55% !important;
}


   

.header .bg-image {
    background-image: url(/epicsanbeats/img/SVG/coucou.svg);
    background-color: transparent !important;
    position: relative !important;
    height: 100vh ;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

/*suite*/







